/*цвета
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
*/


@font-face {
    font-family: opensans;
    font-weight: normal;
    font-style: normal;
    src: url("fonts/OpenSans-Regular.ttf"); 
}


@font-face {
    font-family: opensans;
    font-weight: 300;
    src: url("fonts/OpenSans-Light.ttf"); 
}


@font-face {
    font-family: opensans;
    font-weight: 600;
    src: url("fonts/OpenSans-SemiBold.ttf"); 
}


@font-face {
    font-family: opensans;
    font-weight: bold;
    src: url("fonts/OpenSans-Bold.ttf"); 
}


@font-face {
    font-family: opensans; /*берётся от вашего шрифта (название шрифта пример opensans)*/
    font-weight: 900;
    src: url("fonts/OpenSans-ExtraBold.ttf"); /*путь файла в fonts добовляете ваш шрифт (fonts/OpenSans-"пример" Bold.ttf) берем пример с название вашего шрифта*/
}


body {
    font-family: "opensans", Arial, Helvetica, sans-serif;
}


.d-flex {
    display: flex;
    justify-content: right;
    align-items: right;
    background: linear-gradient(#383737, #626064);
}


.logotip {
    display: flex;
    justify-content: left;
    align-items: left;
    background: linear-gradient(#383737, #626064);
}


header {
}


a {
    font-size: 25px;
    padding: 20px;
    color: rgb(46, 36, 36);
    text-decoration: none;
    font-weight: 600;
}


li {
    display: inline;
}


ul {
    list-style: none;
    margin: 0;
    padding: 20px;
}


.piskas {
    font-weight: 600;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 39, 39);
    background: linear-gradient(#383737, #626064);
}

